<li role="separator" class="divider"></li>
<li><a href="/about/"><i class="glyphicon glyphicon-info-sign"></i> Acerca de</a></li>
<li><a href="/about/faq"><i class="glyphicon glyphicon-question-sign"></i> FAQ</a></li>