{% extends "base.twig" %}
{% block content %}
    <div class="col s12 m7">
        <h2 class="header">
            Sesión iniciada correctamente
        </h2>
        <div class="card horizontal">
            <div class="card-image">
                <div class="icon-block">
                    <i class="material-icons" style="font-size: 10em; padding: 5px; color: #f06292;">settings</i>
                </div>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        <i class="material-icons">build</i>
                        Tu clave de acceso fue correcta ya puedes acceder al área de administración <strong><a href="home">aquí</a></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}