Options All -Indexes

RewriteEngine On

RewriteRule ^res/libs/jquery(/.*)?$ ./bower_components/jquery/dist/$1
RewriteRule ^res/libs/materialize(/.*)?$ ./bower_components/materialize/dist/$1

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^home*$ ./index.php?p=home
RewriteRule ^login*$ ./index.php?p=login
RewriteRule ^logout*$ ./index.php?p=logout
RewriteRule ^page*$ ./index.php?p=page
RewriteRule ^user\/(\d+)*$ ./index.php?p=user&id=$1
RewriteRule ^formato\/(\w+)\/(?>(?>\d+)|(list|add|edit|new|del)\/(\w+)?)*$ ./index.php?p=formato&area_formato=$1&action=$2&id=$3
RewriteRule ^test*$ ./index.php?p=test

<Files config.ini>
    order allow,deny
    deny from all
</Files>