{% extends "base.twig" %}
{% block content %}
<blockquote>
    <h1><i class="medium material-icons">apps</i>Tabla de contenidos</h1>
</blockquote>
<div class="divider"></div>
<div class="row">
    <div class="col s6">
        <h2 class="header">Usuarios</h2>
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">account_box</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">account_box</i>Administrar usuarios</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s6">
        <h2 class="header">Administracion</h2>
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">build</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">build</i>Configuracion de la pagina</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s4">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">directions_run</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">directions_run</i>Carreras</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">donut_small</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">donut_small</i>Turnos</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<h1 class="header">Formatos</h1>
<div class="row">
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card horizontal">
            <div class="card-image waves-effect waves-block waves-light">
                <i class="activator large material-icons">business</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons">business</i>Peds</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}