{% extends "base.twig" %}
{% block content %}
    <div class="col s12 m7">
        <h2 class="header">Primera ejecucion de <strong>REC-1</strong></h2>
        <div class="card horizontal">
            <div class="card-image">
                <div class="icon-block">
                    <i class="material-icons" style="font-size: 10em; padding: 5px; color: #f06292;">settings</i>
                </div>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        <i class="material-icons">done</i>
                        ¡Felicidades! Añadiste correctamente un nuevo usuario administrador al sistema <strong>REC-1</strong>
                    </p>
                    <hr/>
                    <p>
                        <i class="material-icons">info</i>
                        Recuerda guardar muy bien tu <strong>clave de acceso</strong>
                    </p>
                    <hr/>
                    <h1>Clave de acceso: <strong><u>{{ token }}</u></strong></h1>
                    <hr/>
                    <p>
                        <i class="material-icons">info</i>
                        Ya puedes acceder a la página con normalidad <a href="home">aquí.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}