<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background blue">

            </div>
            <a href="user/{{ rec1.user.logged.getId }}">
                <i class="material-icons circle white-text medium">account_circle</i>
            </a>
            <a href="user/{{ rec1.user.logged.getId }}">
                <span class="white-text name">
                    {{ rec1.user.logged.getFullName }}
                </span>
            </a>
            <a href="#!email">
                <span class="white-text email">
                    {{ rec1.user.logged.getEmail }}
                </span>
            </a>
        </div>
    </li>
    <li>
        <a href="inicio">
            <i class="material-icons">home</i>
            Inicio
        </a>
    </li>
    <li><div class="divider"></div></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Control de la pagina<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="user/">
                                <i class="material-icons left">account_box</i>
                                Usuarios
                            </a>
                        </li>
                        <li>
                            <a href="page">
                                <i class="material-icons left">build</i>
                                Administracion
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">
            <i class="material-icons left">assignment_turned_in</i>
            Formatos
        </a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Carrreras | Turnos | Peds<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="formato/carreras/">
                                <i class="material-icons left">directions_run</i>
                                Carreras
                            </a>
                        </li>
                        <li>
                            <a href="formato/turnos/">
                                <i class="material-icons left">business</i>
                                Turnos
                            </a>
                        </li>
                        <li>
                            <a href="formato/peds/">
                                <i class="material-icons left">donut_small</i>
                                Peds
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header" onclick="Materialize.showStaggeredList(
                                $(this).parent('li')
                                .children('div.collapsible-body')
                                .children('ul'));
                   ">
                    Lista de Formatos<i class="material-icons">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="formato/7/" class="purple-text bold">
                                <i class="material-icons left purple-text">gradient</i>
                                Formato 7
                            </a>
                        </li>
                        <li>
                            <a href="formato/8/" class="blue-text bold">
                                <i class="material-icons left blue-text">group</i>
                                Formato 8
                            </a>
                        </li>
                        <li>
                            <a href="formato/9/" class="teal-text bold">
                                <i class="material-icons left teal-text">import_contacts</i>
                                Formato 9
                            </a>
                        </li>
                        <li>
                            <a href="formato/10/" class="lime-text bold">
                                <i class="material-icons left lime-text">insert_chart</i>
                                Formato 10
                            </a>
                        </li>
                        <li>
                            <a href="formato/11/" class="deep-orange-text bold">
                                <i class="material-icons left deep-orange-text">school</i>
                                Formato 11
                            </a>
                        </li>
                        <li>
                            <a href="formato/12/" class="yellow-text bold">
                                <i class="material-icons left yellow-text">flare</i>
                                Formato 12
                            </a>
                        </li>
                        <li>
                            <a href="formato/13/" class="red-text bold">
                                <i class="material-icons left red-text">add_to_photos</i>
                                Formato 13
                            </a>
                        </li>
                        <li>
                            <a href="formato/14/" class="indigo-text bold">
                                <i class="material-icons left indigo-text">equalizer</i>
                                Formato 14
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>