<form class="form-horizontal" role="form" action="/home" method="post">
    <fieldset>
        <!-- Form Name -->
        <legend>Ingresa tus datos de usuario</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Nombre</label>  
            <div class="col-md-5">
                <input id="username" name="username" type="text" placeholder="Tu Nombre completo" class="form-control input-md" required="">
                <span class="help-block">Contiene el nombre completo del usuario</span>  
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Correo</label>  
            <div class="col-md-5">
                <input id="email" name="email" type="text" placeholder="E-Mail" class="form-control input-md" required="">
                <span class="help-block">Tu dirección de correo electrónico</span>  
            </div>
        </div>
        <!-- Submit button-->
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Regístrame</button>
            </div>
        </div>
    </fieldset>
</form>